{
    "openapi": "3.0.1",
    "info": {
      "title": "PaySecure API",
      "description": "API documentation for PaySecure",
      "license": {
        "name": "MIT"
      },
      "version": "1.0.0"
    },
    "servers": [
      {
        "url": "https://api.paysecure.net/api/v1"
      }
    ],
    "security": [
      {
        "bearerAuth": []
      }
    ],
    "paths": {
      "/createpurchase": {
        "post": {
          "description": "Creates a new purchase transaction",
          "requestBody": {
            "description": "Purchase details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PurchaseRequest"
                }
              }
            },
            "required": true
          },
          "responses": {
            "200": {
              "description": "Purchase created successfully",
              "content": {
                "application/json": {
                  "schema": {
                    "$ref": "#/components/schemas/PurchaseResponse"
                  }
                }
              }
            }
                }
              }
            }
          },
    "components": {
      "schemas": {
        "PurchaseRequest": {
          "required": ["amount", "currency", "paymentMethod"],
          "type": "object",
          "properties": {
            "amount": {
              "type": "number",
              "format": "float",
              "description": "The purchase amount"
            },
            "currency": {
              "type": "string",
              "description": "The currency code (e.g., USD, EUR)"
            },
            "paymentMethod": {
              "type": "string",
              "description": "The payment method used (e.g., card, bank_transfer)"
            }
          }
        },
        "PurchaseResponse": {
          "type": "object",
          "properties": {
            "transactionId": {
              "type": "string",
              "description": "Unique identifier for the purchase transaction"
            },
            "status": {
              "type": "string",
              "description": "The status of the transaction (e.g., success, failed)"
            }
          }
        },
        "Error": {
          "required": ["error", "message"],
          "type": "object",
          "properties": {
            "error": {
              "type": "integer",
              "format": "int32"
            },
            "message": {
              "type": "string"
            }
          }
        }
      },
      "securitySchemes": {
        "bearerAuth": {
          "type": "http",
          "scheme": "bearer"
        }
      }
    }
  }
  